In [1]:
from filmsets import *
from FilmCollectionExport import *

filmset = TestSet.long

detailed_collection = DetailedFilmCollection( filmset)
detailed_collection.scrape_all()

Creating thread 1.
Creating thread 2.
Creating thread 3.
Creating thread 4.
Creating thread 5.
Creating thread 6.
Creating thread 7.
Creating thread 8.
Creating thread 9.
Creating thread 10.
Creating thread 11.
Creating thread 12.
Creating thread 13.
Creating thread 14.
Creating thread 15.
Creating thread 16.
Creating thread 17.
Creating thread 18.
Creating thread 19.
Creating thread 20.
Creating thread 21.
Creating thread 22.
Creating thread 23.
Creating thread 24.
Creating thread 25.
Creating thread 26.
Creating thread 27.
Creating thread 28.
Creating thread 29.
Creating thread 30.
Creating thread 31.
Creating thread 32.
Creating thread 33.
Creating thread 34.
Creating thread 35.
Creating thread 36.
Creating thread 37.
Creating thread 38.
Creating thread 39.
Creating thread 40.
Creating thread 41.
Creating thread 42.
Creating thread 43.
Creating thread 44.
Creating thread 45.
Creating thread 46.
Creating thread 47.
Creating thread 48.
Creating thread 49.
Creating thread 50.
Creating thread 51.
Creating thread 52.
Creating thread 53.
Creating thread 54.
Creating thread 55.
Creating thread 56.
Creating thread 57.
Creating thread 58.
Creating thread 59.
Creating thread 60.
Creating thread 61.
Creating thread 62.
Creating thread 63.
Creating thread 64.
Creating thread 65.
Creating thread 66.
Creating thread 67.
Creating thread 68.
Creating thread 69.
Creating thread 70.
Creating thread 71.
Creating thread 72.
Creating thread 73.
Creating thread 74.
Creating thread 75.
Creating thread 76.
Creating thread 77.
Creating thread 78.
Creating thread 79.
Creating thread 80.
Waiting for 80 threads..
Waiting for 79 threads..
Waiting for 78 threads..
Waiting for 77 threads..
Waiting for 76 threads..
Waiting for 75 threads..
Waiting for 74 threads..
Waiting for 73 threads..
Waiting for 72 threads..
Waiting for 71 threads..
Waiting for 70 threads..
Waiting for 69 threads..
Waiting for 68 threads..
Waiting for 67 threads..
Waiting for 66 threads..
Waiting for 65 threads..
Waiting for 64 threads..
Waiting for 63 threads..
Waiting for 62 threads..
Waiting for 61 threads..
Waiting for 60 threads..
Waiting for 59 threads..
Waiting for 58 threads..
Waiting for 57 threads..
Waiting for 56 threads..
Waiting for 55 threads..
Waiting for 54 threads..
Waiting for 53 threads..
Waiting for 52 threads..
Waiting for 51 threads..
Waiting for 50 threads..
Waiting for 49 threads..
Waiting for 48 threads..
Waiting for 47 threads..
Waiting for 46 threads..
Waiting for 45 threads..
Waiting for 44 threads..
Waiting for 43 threads..
Waiting for 42 threads..
Waiting for 41 threads..
Waiting for 40 threads..
Waiting for 39 threads..
Waiting for 38 threads..
Waiting for 37 threads..
Waiting for 36 threads..
Waiting for 35 threads..
Waiting for 34 threads..
Waiting for 33 threads..
Waiting for 32 threads..
Waiting for 31 threads..
Waiting for 30 threads..
Waiting for 29 threads..
Waiting for 28 threads..
Waiting for 27 threads..
Waiting for 26 threads..
Waiting for 25 threads..
Waiting for 24 threads..
Waiting for 23 threads..
Waiting for 22 threads..
Waiting for 21 threads..
Waiting for 20 threads..
Waiting for 19 threads..
Waiting for 18 threads..
Waiting for 17 threads..
Waiting for 16 threads..
Waiting for 15 threads..
Waiting for 14 threads..
Waiting for 13 threads..
Waiting for 12 threads..
Waiting for 11 threads..
Waiting for 10 threads..
Waiting for 9 threads..
Waiting for 8 threads..
Waiting for 7 threads..
Waiting for 6 threads..
Waiting for 5 threads..
Waiting for 4 threads..
Waiting for 3 threads..
Waiting for 2 threads..
Waiting for 1 threads..

In [2]:
print( BaseSQLExport( detailed_collection))

INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0058333", "The Masque of the Red Death", 1964);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0146336", "Urban Legend", 1998);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0075005", "The Omen", 1976);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0024368", "Mystery of the Wax Museum", 1933);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0195714", "Final Destination", 2000);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0397065", "House of Wax", 2005);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0053459", "Les yeux sans visage", 1960);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0827782", "Return to House on Haunted Hill", 2007);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0058620", "Strait-Jacket", 1964);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0097368", "The Fly II", 1989);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0052207", "The Snorkel", 1958);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0056552", "Tales of Terror", 1962);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0051418", "The Blob", 1958);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0042376", "The Damned Don't Cry", 1950);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0119345", "I Know What You Did Last Summer", 1997);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0056943", "The Comedy of Terrors", 1963);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0059297", "I Saw What You Did", 1965);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0054988", "Homicidal", 1961);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0036104", "The Leopard Man", 1943);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0171363", "The Haunting", 1999);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0192731", "Urban Legends: Final Cut", 2000);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0034587", "Cat People", 1942);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0120627", "Carnival of Souls", 1998);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0455760", "Dead Silence", 2007);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0053925", "House of Usher", 1960);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0059821", "The Tomb of Ligeia", 1964);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0482606", "The Strangers", 2008);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0185371", "House on Haunted Hill", 1999);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0056606", "Tower of London", 1962);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0070917", "The Wicker Man", 1973);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0051622", "The Fly", 1958);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0042544", "Harriet Craig", 1950);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0036341", "The Seventh Victim", 1943);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt1262416", "Scream 4", 2011);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0028478", "The Walking Dead", 1936);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0790686", "Mirrors", 2008);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0024188", "Island of Lost Souls", 1932);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0080516", "The Changeling", 1980);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0053363", "The Tingler", 1959);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0059096", "Della", 1965);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0058700", "The Last Man on Earth", 1964);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0057129", "The Haunting", 1963);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0055018", "The Innocents", 1961);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0055505", "Scream of Fear", 1961);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0055830", "Carnival of Souls", 1962);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0064747", "The Oblong Box", 1969);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0043456", "The Day the Earth Stood Still", 1951);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0036027", "I Walked with a Zombie", 1943);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0057379", "The Old Dark House", 1963);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0056368", "Premature Burial", 1962);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0037635", "Dead of Night", 1945);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0288477", "Ghost Ship", 2002);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0076162", "Hausu", 1977);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0130018", "I Still Know What You Did Last Summer", 1998);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0900357", "Boogeyman 2", 2007);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0451957", "Urban Legends: Bloody Mary", 2005);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0069995", "Don't Look Now", 1973);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0068503", "Dr. Phibes Rises Again", 1972);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0454841", "The Hills Have Eyes", 2006);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0059646", "Repulsion", 1965);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0045888", "House of Wax", 1953);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0057449", "The Raven", 1963);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0052602", "The Bat", 1959);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0309593", "Final Destination 2", 2003);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0055304", "Pit and the Pendulum", 1961);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0076786", "Suspiria", 1977);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0026685", "Mark of the Vampire", 1935);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0058403", "The Night Walker", 1964);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0057608", "Twice-Told Tales", 1963);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0077745", "Invasion of the Body Snatchers", 1978);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0083722", "Cat People", 1982);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0051744", "House on Haunted Hill", 1959);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0295700", "Wrong Turn", 2003);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0026912", "The Raven", 1935);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0056725", "Zotz!", 1962);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0056993", "Diary of a Madman", 1963);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0053219", "Return of the Fly", 1959);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0057128", "The Haunted Palace", 1963);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0263488", "Jeepers Creepers", 2001);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0026663", "Mad Love", 1935);

In [3]:
print( TaglineSQLExport( detailed_collection))

INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0058333", "The Masque of the Red Death", 1964);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0146336", "Urban Legend", 1998);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0075005", "The Omen", 1976);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0024368", "Mystery of the Wax Museum", 1933);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0195714", "Final Destination", 2000);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0397065", "House of Wax", 2005);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0053459", "Les yeux sans visage", 1960);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0827782", "Return to House on Haunted Hill", 2007);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0058620", "Strait-Jacket", 1964);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0097368", "The Fly II", 1989);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0052207", "The Snorkel", 1958);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0056552", "Tales of Terror", 1962);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0051418", "The Blob", 1958);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0042376", "The Damned Don't Cry", 1950);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0119345", "I Know What You Did Last Summer", 1997);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0056943", "The Comedy of Terrors", 1963);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0059297", "I Saw What You Did", 1965);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0054988", "Homicidal", 1961);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0036104", "The Leopard Man", 1943);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0171363", "The Haunting", 1999);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0192731", "Urban Legends: Final Cut", 2000);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0034587", "Cat People", 1942);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0120627", "Carnival of Souls", 1998);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0455760", "Dead Silence", 2007);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0053925", "House of Usher", 1960);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0059821", "The Tomb of Ligeia", 1964);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0482606", "The Strangers", 2008);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0185371", "House on Haunted Hill", 1999);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0056606", "Tower of London", 1962);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0070917", "The Wicker Man", 1973);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0051622", "The Fly", 1958);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0042544", "Harriet Craig", 1950);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0036341", "The Seventh Victim", 1943);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt1262416", "Scream 4", 2011);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0028478", "The Walking Dead", 1936);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0790686", "Mirrors", 2008);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0024188", "Island of Lost Souls", 1932);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0080516", "The Changeling", 1980);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0053363", "The Tingler", 1959);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0059096", "Della", 1965);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0058700", "The Last Man on Earth", 1964);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0057129", "The Haunting", 1963);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0055018", "The Innocents", 1961);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0055505", "Scream of Fear", 1961);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0055830", "Carnival of Souls", 1962);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0064747", "The Oblong Box", 1969);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0043456", "The Day the Earth Stood Still", 1951);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0036027", "I Walked with a Zombie", 1943);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0057379", "The Old Dark House", 1963);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0056368", "Premature Burial", 1962);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0037635", "Dead of Night", 1945);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0288477", "Ghost Ship", 2002);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0076162", "Hausu", 1977);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0130018", "I Still Know What You Did Last Summer", 1998);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0900357", "Boogeyman 2", 2007);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0451957", "Urban Legends: Bloody Mary", 2005);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0069995", "Don't Look Now", 1973);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0068503", "Dr. Phibes Rises Again", 1972);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0454841", "The Hills Have Eyes", 2006);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0059646", "Repulsion", 1965);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0045888", "House of Wax", 1953);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0057449", "The Raven", 1963);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0052602", "The Bat", 1959);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0309593", "Final Destination 2", 2003);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0055304", "Pit and the Pendulum", 1961);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0076786", "Suspiria", 1977);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0026685", "Mark of the Vampire", 1935);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0058403", "The Night Walker", 1964);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0057608", "Twice-Told Tales", 1963);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0077745", "Invasion of the Body Snatchers", 1978);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0083722", "Cat People", 1982);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0051744", "House on Haunted Hill", 1959);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0295700", "Wrong Turn", 2003);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0026912", "The Raven", 1935);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0056725", "Zotz!", 1962);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0056993", "Diary of a Madman", 1963);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0053219", "Return of the Fly", 1959);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0057128", "The Haunted Palace", 1963);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0263488", "Jeepers Creepers", 2001);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0026663", "Mad Love", 1935);

INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0058333", "Horror has a face.", 0);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0058333", "Look into this face", 1);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0146336", "It Happened To Someone Who Knows Someone You Know... You're Next.", 2);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0146336", "Just because it didn't happen, doesn't mean it can't", 3);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0075005", "Those who foretold it are dead.  Those who can stop it are in grave danger.", 4);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0075005", "It is the greatest mystery of all because no human being will ever solve it.", 5);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0024368", "Warner Bros.' Supreme Thriller", 6);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0024368", "Another Lovely Woman Vanished from the Earth!...Another Beauty Molded to His Desire!", 7);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0195714", "Face Your Deepest Fears... Before They Face You.", 8);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0195714", "Are you ready to match wits with the Grim Reaper?", 9);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0397065", "Gejagt. Ermordet. Zur Schau gestellt. (Hunted.Murdered.Displayed.)", 10);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0397065", "Prey. Slay. Display.", 11);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0053459", "Beautiful women were the victims of his FIENDISH FACIALS!!! [American retitled and dubbed version poster]", 12);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0827782", "The Welcome Mat is Out. Do Come In", 13);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0058620", "WARNING! 'Strait-Jacket' vividly depicts ax murders!", 14);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0058620", "Keep Saying to Yourself - It's Only a Film...It's Only a Film...It's Only a Film...", 15);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0097368", "Like father, like son.", 16);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0097368", "A new generation of terror!", 17);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0052207", "Teenage Girl Vs. ... Killer-With-A-Gimmick!", 18);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0056552", "A Trilogy of Shock and Horror!", 19);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0051418", "Bloated with the blood of its victims!", 20);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0051418", "It crawls.... It creeps.... It eats you alive!", 21);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0042376", "Warner Bros.' Flaming Stars of 'Flamingo Road' Meet in Scarlet Shadows Again!", 22);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0042376", "'Call me CHEAP?' Nothing's Cheap When You Pay the Price She's Paying!", 23);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0119345", "The Mistake They Made, Is Coming Back To Haunt Them.", 24);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0119345", "Nobody Saw Him Step Out. Nobody Saw Them Kill Him. Nobody Could Imagine The Terror To Follow.", 25);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0056943", "They put new life in the undertaking business!", 26);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0056943", "Where the GHOULS are...is where the FUN is!", 27);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0059297", "You May Be the Target... of the Next Phone Call...", 28);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0059297", "William Castle warns you: This is a motion picture about UXORICIDE!", 29);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0054988", "SPECIAL 'FRIGHT BREAK' * There will be a special FRIGHT BREAK during the showing of 'Homicidal.' Can your heart stand the challenge when the clock starts the COUNTDOWN?", 30);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0054988", "THE PICTURE WITH A 'FRIGHT BREAK!'", 31);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0036104", "A shriek in the night--another victim torn to pieces by claw and fang! Is it man-like beast or beast-like man that picks only beauty as prey--and why?", 32);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0036104", "Don't Be Afraid To Know the Truth about the Monster That Killed For a Thrill!", 33);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0171363", "There once was a house, a bright happy home. Then something bad happened, and now it sits all alone. These (pillars) are its bones. These (walls) are its skin. These (windows) are its eyes. WON'T Y...", 34);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0171363", "Some houses are born bad.", 35);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0192731", "Legends never die", 36);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0192731", "This Fall, Legends, Never, Die.", 37);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0034587", "She Was Marked With The Curse Of Those Who Slink And Court And Kill By Night!", 38);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0034587", "The most terrifying menace of them all!", 39);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0120627", "Enter at your own risk!", 40);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0120627", "Enter... if you dare.", 41);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0455760", "You scream. You die.", 42);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0053925", "Mystery!...Terror!....Suspense! that out-shocks DRACULA and FRANKENSTEIN!", 43);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0053925", "Edgar Allan Poe's classic tale of the Ungodly...the Evil [House of Usher]", 44);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0059821", "CAT or WOMAN or a Thing Too Evil to Mention?", 45);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0059821", "His first wife is dead- but still a little CATTY!", 46);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0482606", "Because you were home.", 47);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0482606", "What would you do if this was happening to you?", 48);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0185371", "It's going to be a long night.", 49);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0185371", "Six strangers have the chance to make $1,000,000 EACH. All they have to do is make it through the night alive.", 50);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0056606", "You'll need someone to hang onto when you come face to face with the blood-chilling terrors in the tower!", 51);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0056606", "Mother England meets Father Terror!", 52);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0070917", "The residents of Summerisle invited Sergeant Howie to their traditional May Day festival. He didn't expect to meet...The Wicker Man", 53);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0070917", "An incredible Occult Thriller of Pagan Practices and fertility rights", 54);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0051622", "If she looked upon the horror her husband had become... she would scream for the rest of her life!", 55);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0051622", "Terrifying! Nerve Shattering! Bloodcurdling!", 56);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0042544", "What Was Harriet Craig's Lie?", 57);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0036341", "ROBBED OF THE WILL TO LOVE! (original half-sheet poster-style A)", 58);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0036341", "SLAVE to SATAN!", 59);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt1262416", "New decade. New rules.", 60);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0028478", "You'll Shudder With Horror (print ad - Lubbock Avalanche Journal - Texan Theatre - Lubbock, Texas - April 15, 1945)", 61);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0028478", "ETERNITY COULD NOT HOLD HIM!...A mystery drama that will raise goose pimples!", 62);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0790686", "... gnulegeipS redej retnih treual neuarG saD (German, backwards: The evil lurks behind every reflection ...)", 63);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0790686", "There Is Evil........On The Other Side", 64);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0024188", "SHRIEKING HORROR that will scare you to PANIC POINT !", 65);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0024188", "It begins where DR. JEKYLL & MR HYDE left off! A weird, fantastic adventure with a mad doctor who discovers how to turn animals into humans-but not how to control them! On a lonely tropical island ...", 66);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0080516", "Whatever you do...DON'T GO INTO THE ATTIC.", 67);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0080516", "Two people live in this house. One of them has been dead for 70 years.", 68);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0053363", "BRING YOUR DATE AND WATCH HER TINGLE!", 69);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0053363", "Amazing NEW TERROR Device Makes You A Living Participant in the FLESH-CRAWLING ACTION! PERCEPTO!", 70);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0058700", "Do you dare to imagine what it would be like to be... the last man on earth... or the last woman?", 71);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0058700", "By night they leave their graves, crawling, shambling, through empty streets, whimpering, pleading, begging for his blood!", 72);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0057129", "SCREAM...no one will hear you! RUN...and the silent foosteps will follow, for in Hill House the dead are restless!", 73);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0057129", "You may not believe in ghosts but you cannot deny terror", 74);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0055018", "A strange new experience in shock.", 75);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0055018", "A New And Adult Motion Picture Experience!", 76);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0055505", "For maximum thrill . . . we earnestly urge you to see this motion picture from the start!", 77);
INSERT INTO Tagline (movie_id, tagline_text, tagline_id) VALUES ("tt0055830", "She Was A Stranger Among The Living.", 78);

In [4]:
print( ProductionSQLExport( detailed_collection))

INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0058333", "The Masque of the Red Death", 1964);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0146336", "Urban Legend", 1998);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0075005", "The Omen", 1976);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0024368", "Mystery of the Wax Museum", 1933);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0195714", "Final Destination", 2000);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0397065", "House of Wax", 2005);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0053459", "Les yeux sans visage", 1960);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0827782", "Return to House on Haunted Hill", 2007);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0058620", "Strait-Jacket", 1964);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0097368", "The Fly II", 1989);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0052207", "The Snorkel", 1958);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0056552", "Tales of Terror", 1962);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0051418", "The Blob", 1958);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0042376", "The Damned Don't Cry", 1950);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0119345", "I Know What You Did Last Summer", 1997);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0056943", "The Comedy of Terrors", 1963);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0059297", "I Saw What You Did", 1965);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0054988", "Homicidal", 1961);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0036104", "The Leopard Man", 1943);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0171363", "The Haunting", 1999);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0192731", "Urban Legends: Final Cut", 2000);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0034587", "Cat People", 1942);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0120627", "Carnival of Souls", 1998);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0455760", "Dead Silence", 2007);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0053925", "House of Usher", 1960);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0059821", "The Tomb of Ligeia", 1964);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0482606", "The Strangers", 2008);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0185371", "House on Haunted Hill", 1999);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0056606", "Tower of London", 1962);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0070917", "The Wicker Man", 1973);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0051622", "The Fly", 1958);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0042544", "Harriet Craig", 1950);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0036341", "The Seventh Victim", 1943);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt1262416", "Scream 4", 2011);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0028478", "The Walking Dead", 1936);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0790686", "Mirrors", 2008);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0024188", "Island of Lost Souls", 1932);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0080516", "The Changeling", 1980);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0053363", "The Tingler", 1959);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0059096", "Della", 1965);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0058700", "The Last Man on Earth", 1964);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0057129", "The Haunting", 1963);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0055018", "The Innocents", 1961);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0055505", "Scream of Fear", 1961);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0055830", "Carnival of Souls", 1962);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0064747", "The Oblong Box", 1969);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0043456", "The Day the Earth Stood Still", 1951);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0036027", "I Walked with a Zombie", 1943);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0057379", "The Old Dark House", 1963);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0056368", "Premature Burial", 1962);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0037635", "Dead of Night", 1945);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0288477", "Ghost Ship", 2002);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0076162", "Hausu", 1977);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0130018", "I Still Know What You Did Last Summer", 1998);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0900357", "Boogeyman 2", 2007);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0451957", "Urban Legends: Bloody Mary", 2005);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0069995", "Don't Look Now", 1973);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0068503", "Dr. Phibes Rises Again", 1972);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0454841", "The Hills Have Eyes", 2006);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0059646", "Repulsion", 1965);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0045888", "House of Wax", 1953);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0057449", "The Raven", 1963);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0052602", "The Bat", 1959);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0309593", "Final Destination 2", 2003);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0055304", "Pit and the Pendulum", 1961);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0076786", "Suspiria", 1977);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0026685", "Mark of the Vampire", 1935);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0058403", "The Night Walker", 1964);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0057608", "Twice-Told Tales", 1963);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0077745", "Invasion of the Body Snatchers", 1978);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0083722", "Cat People", 1982);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0051744", "House on Haunted Hill", 1959);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0295700", "Wrong Turn", 2003);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0026912", "The Raven", 1935);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0056725", "Zotz!", 1962);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0056993", "Diary of a Madman", 1963);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0053219", "Return of the Fly", 1959);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0057128", "The Haunted Palace", 1963);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0263488", "Jeepers Creepers", 2001);
INSERT INTO Movie (movie_id, movie_title, movie_year) VALUES ("tt0026663", "Mad Love", 1935);

INSERT INTO Production (production_name, production_id) VALUES (0, "Alta Vista Productions");
INSERT INTO Production (production_name, production_id) VALUES (1, "Phoenix Pictures");
INSERT INTO Production (production_name, production_id) VALUES (2, "Original Film");
INSERT INTO Production (production_name, production_id) VALUES (3, "Canal+ Droits Audiovisuels");
INSERT INTO Production (production_name, production_id) VALUES (4, "Mace Neufeld Productions");
INSERT INTO Production (production_name, production_id) VALUES (5, "Harvey Bernhard Productions");
INSERT INTO Production (production_name, production_id) VALUES (6, "Twentieth Century Fox");
INSERT INTO Production (production_name, production_id) VALUES (7, "Twentieth Century-Fox Productions");
INSERT INTO Production (production_name, production_id) VALUES (8, "Warner Bros.");
INSERT INTO Production (production_name, production_id) VALUES (9, "New Line Cinema");
INSERT INTO Production (production_name, production_id) VALUES (10, "Hard Eight Pictures");
INSERT INTO Production (production_name, production_id) VALUES (11, "Zide-Perry Productions");
INSERT INTO Production (production_name, production_id) VALUES (12, "Dark Castle Entertainment");
INSERT INTO Production (production_name, production_id) VALUES (13, "Village Roadshow Pictures");
INSERT INTO Production (production_name, production_id) VALUES (14, "Lux Film");
INSERT INTO Production (production_name, production_id) VALUES (15, "Champs-lyses Productions");
INSERT INTO Production (production_name, production_id) VALUES (16, "Warner Premiere");
INSERT INTO Production (production_name, production_id) VALUES (17, "William Castle Productions");
INSERT INTO Production (production_name, production_id) VALUES (18, "Brooksfilms");
INSERT INTO Production (production_name, production_id) VALUES (19, "Columbia Pictures Corporation");
INSERT INTO Production (production_name, production_id) VALUES (20, "Hammer Films");
INSERT INTO Production (production_name, production_id) VALUES (21, "Clarion Films");
INSERT INTO Production (production_name, production_id) VALUES (22, "Tonylyn Productions Inc.");
INSERT INTO Production (production_name, production_id) VALUES (23, "Valley Forge Films");
INSERT INTO Production (production_name, production_id) VALUES (24, "Fairview Productions");
INSERT INTO Production (production_name, production_id) VALUES (25, "Mandalay Entertainment");
INSERT INTO Production (production_name, production_id) VALUES (26, "Summer Knowledge LLC");
INSERT INTO Production (production_name, production_id) VALUES (27, "Universal Pictures");
INSERT INTO Production (production_name, production_id) VALUES (28, "RKO Radio Pictures");
INSERT INTO Production (production_name, production_id) VALUES (29, "Roth-Arnold Productions");
INSERT INTO Production (production_name, production_id) VALUES (30, "Dreamworks Pictures");
INSERT INTO Production (production_name, production_id) VALUES (31, "Trimark Pictures");
INSERT INTO Production (production_name, production_id) VALUES (32, "Twisted Pictures");
INSERT INTO Production (production_name, production_id) VALUES (33, "Evolution Entertainment");
INSERT INTO Production (production_name, production_id) VALUES (34, "Vertigo Entertainment");
INSERT INTO Production (production_name, production_id) VALUES (35, "Rogue Pictures");
INSERT INTO Production (production_name, production_id) VALUES (36, "Mandate Pictures");
INSERT INTO Production (production_name, production_id) VALUES (37, "Intrepid Pictures");
INSERT INTO Production (production_name, production_id) VALUES (38, "Mad Hatter Entertainment");
INSERT INTO Production (production_name, production_id) VALUES (39, "Edward Small Productions");
INSERT INTO Production (production_name, production_id) VALUES (40, "British Lion Film Corporation");
INSERT INTO Production (production_name, production_id) VALUES (41, "Regal Films");
INSERT INTO Production (production_name, production_id) VALUES (42, "Columbia Pictures");
INSERT INTO Production (production_name, production_id) VALUES (43, "Dimension Films");
INSERT INTO Production (production_name, production_id) VALUES (44, "Corvus Corax Productions");
INSERT INTO Production (production_name, production_id) VALUES (45, "The Weinstein Company");
INSERT INTO Production (production_name, production_id) VALUES (46, "Outerbanks Entertainment");
INSERT INTO Production (production_name, production_id) VALUES (47, "Prime Focus");
INSERT INTO Production (production_name, production_id) VALUES (48, "Midnight Entertainment");
INSERT INTO Production (production_name, production_id) VALUES (49, "New Regency Productions");
INSERT INTO Production (production_name, production_id) VALUES (50, "Luna Pictures");
INSERT INTO Production (production_name, production_id) VALUES (51, "Castel Film Romania");
INSERT INTO Production (production_name, production_id) VALUES (52, "ASAF");
INSERT INTO Production (production_name, production_id) VALUES (53, "Paramount Pictures");
INSERT INTO Production (production_name, production_id) VALUES (54, "Chessman Park Productions");
INSERT INTO Production (production_name, production_id) VALUES (55, "Four Star Productions");
INSERT INTO Production (production_name, production_id) VALUES (56, "Associated Producers (API)");
INSERT INTO Production (production_name, production_id) VALUES (57, "Produzioni La Regina");
INSERT INTO Production (production_name, production_id) VALUES (58, "Argyle Enterprises");
INSERT INTO Production (production_name, production_id) VALUES (59, "Achilles");
INSERT INTO Production (production_name, production_id) VALUES (60, "Harcourt Productions");
INSERT INTO Production (production_name, production_id) VALUES (61, "Centron Corporation");
INSERT INTO Production (production_name, production_id) VALUES (62, "American International Pictures (AIP)");
INSERT INTO Production (production_name, production_id) VALUES (63, "Roger Corman Productions");
INSERT INTO Production (production_name, production_id) VALUES (64, "Ealing Studios");
INSERT INTO Production (production_name, production_id) VALUES (65, "Ghost Ship Films Pty. Ltd.");
INSERT INTO Production (production_name, production_id) VALUES (66, "NPV Entertainment");
INSERT INTO Production (production_name, production_id) VALUES (67, "PSC");
INSERT INTO Production (production_name, production_id) VALUES (68, "Toho Company");
INSERT INTO Production (production_name, production_id) VALUES (69, "Estudios Churubusco Azteca S.A.");
INSERT INTO Production (production_name, production_id) VALUES (70, "Ghost House Pictures");
INSERT INTO Production (production_name, production_id) VALUES (71, "Destination Films");
INSERT INTO Production (production_name, production_id) VALUES (72, "NPP Productions Inc.");
INSERT INTO Production (production_name, production_id) VALUES (73, "Screen Gems");
INSERT INTO Production (production_name, production_id) VALUES (74, "D.L.N. Ventures Partnership");
INSERT INTO Production (production_name, production_id) VALUES (75, "Eldorado Films");
INSERT INTO Production (production_name, production_id) VALUES (76, "Casey Productions");
INSERT INTO Production (production_name, production_id) VALUES (77, "Amicus Productions");
INSERT INTO Production (production_name, production_id) VALUES (78, "Craven-Maddalena Films");
INSERT INTO Production (production_name, production_id) VALUES (79, "Major Studio Partners");
INSERT INTO Production (production_name, production_id) VALUES (80, "Dune Entertainment");
INSERT INTO Production (production_name, production_id) VALUES (81, "Tekli British Productions");
INSERT INTO Production (production_name, production_id) VALUES (82, "Compton Films");
INSERT INTO Production (production_name, production_id) VALUES (83, "Bryan Foy Productions");
INSERT INTO Production (production_name, production_id) VALUES (84, "Liberty Pictures (IV)");
INSERT INTO Production (production_name, production_id) VALUES (85, "Seda Spettacoli");
INSERT INTO Production (production_name, production_id) VALUES (86, "Metro-Goldwyn-Mayer (MGM)");
INSERT INTO Production (production_name, production_id) VALUES (87, "Robert E. Kent Productions");
INSERT INTO Production (production_name, production_id) VALUES (88, "Solofilm");
INSERT INTO Production (production_name, production_id) VALUES (89, "RKO Pictures");
INSERT INTO Production (production_name, production_id) VALUES (90, "Summit Entertainment");
INSERT INTO Production (production_name, production_id) VALUES (91, "Newmarket Capital Group");
INSERT INTO Production (production_name, production_id) VALUES (92, "Media Cooperation One");
INSERT INTO Production (production_name, production_id) VALUES (93, "Stan Winston Studio");
INSERT INTO Production (production_name, production_id) VALUES (94, "DCP Wrong Turn Productions");
INSERT INTO Production (production_name, production_id) VALUES (95, "Constantin Film");
INSERT INTO Production (production_name, production_id) VALUES (96, "La Honda Productions");
INSERT INTO Production (production_name, production_id) VALUES (97, "United Artists");
INSERT INTO Production (production_name, production_id) VALUES (98, "Cinerenta Medienbeteiligungs KG");
INSERT INTO Production (production_name, production_id) VALUES (99, "Cinerenta-Cinebeta");
INSERT INTO Production (production_name, production_id) VALUES (100, "VCL Communications");
INSERT INTO Production (production_name, production_id) VALUES (101, "American Zoetrope");

INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0058333", 0);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0146336", 1);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0146336", 2);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0146336", 3);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0075005", 4);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0075005", 5);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0075005", 6);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0075005", 7);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0024368", 8);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0195714", 9);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0195714", 10);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0195714", 11);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0397065", 12);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0397065", 8);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0397065", 13);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0053459", 14);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0053459", 15);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0827782", 16);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0827782", 12);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0058620", 17);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0097368", 18);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0052207", 19);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0052207", 20);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0052207", 21);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0056552", 0);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0051418", 22);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0051418", 23);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0051418", 24);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0042376", 8);
INSERT INTO MovieProduction (movie_id, production_id) VALUES ("tt0119345", 2);

In [5]:
print( DetailedSQLExport( detailed_collection))

INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0058333", "The Masque of the Red Death", 1964, Null, Null, 89);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0146336", "Urban Legend", 1998, 14000000, 72527595, 99);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0075005", "The Omen", 1976, 2800000, 60922980, 111);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0024368", "Mystery of the Wax Museum", 1933, Null, Null, 77);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0195714", "Final Destination", 2000, 23000000, 112880294, 98);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0397065", "House of Wax", 2005, 40000000, 68766121, 113);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0053459", "Les yeux sans visage", 1960, Null, 60254, 90);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0827782", "Return to House on Haunted Hill", 2007, Null, Null, 79);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0058620", "Strait-Jacket", 1964, 550000, Null, 93);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0097368", "The Fly II", 1989, Null, 38903179, 105);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0052207", "The Snorkel", 1958, Null, Null, 90);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0056552", "Tales of Terror", 1962, Null, Null, 89);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0051418", "The Blob", 1958, 240000, Null, 86);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0042376", "The Damned Don't Cry", 1950, 1233000, Null, 103);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0119345", "I Know What You Did Last Summer", 1997, 17000000, 125586134, 101);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0056943", "The Comedy of Terrors", 1963, Null, Null, 84);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0059297", "I Saw What You Did", 1965, Null, Null, 82);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0054988", "Homicidal", 1961, Null, Null, 88);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0036104", "The Leopard Man", 1943, Null, Null, 66);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0171363", "The Haunting", 1999, 80000000, 177311151, 113);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0192731", "Urban Legends: Final Cut", 2000, 14000000, 38574362, 97);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0034587", "Cat People", 1942, 134000, Null, 73);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0120627", "Carnival of Souls", 1998, 2000000, Null, 90);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0455760", "Dead Silence", 2007, 20000000, 22382047, 89);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0053925", "House of Usher", 1960, 200000, Null, 79);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0059821", "The Tomb of Ligeia", 1964, Null, Null, Null);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0482606", "The Strangers", 2008, 9000000, 82410456, 86);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0185371", "House on Haunted Hill", 1999, 37000000, 42593455, 93);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0056606", "Tower of London", 1962, 200000, Null, 79);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0070917", "The Wicker Man", 1973, 810000, 98201, 88);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0051622", "The Fly", 1958, 700000, 1501, 94);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0042544", "Harriet Craig", 1950, Null, Null, 94);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0036341", "The Seventh Victim", 1943, Null, Null, 71);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt1262416", "Scream 4", 2011, 40000000, 97231420, 111);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0028478", "The Walking Dead", 1936, 217000, Null, 66);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0790686", "Mirrors", 2008, 35000000, 78094714, 110);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0024188", "Island of Lost Souls", 1932, 300000, Null, 70);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0080516", "The Changeling", 1980, Null, Null, 107);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0053363", "The Tingler", 1959, 250000, Null, 82);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0059096", "Della", 1965, Null, Null, 65);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0058700", "The Last Man on Earth", 1964, 300000, Null, 86);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0057129", "The Haunting", 1963, 1400000, 742, 112);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0055018", "The Innocents", 1961, Null, 30103, 100);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0055505", "Scream of Fear", 1961, Null, Null, 81);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0055830", "Carnival of Souls", 1962, 30000, Null, 78);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0064747", "The Oblong Box", 1969, Null, Null, 96);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0043456", "The Day the Earth Stood Still", 1951, 1200000, Null, 92);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0036027", "I Walked with a Zombie", 1943, Null, Null, 69);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0057379", "The Old Dark House", 1963, Null, Null, 77);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0056368", "Premature Burial", 1962, 1250000, Null, 81);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0037635", "Dead of Night", 1945, Null, 1919, 103);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0288477", "Ghost Ship", 2002, 20000000, 68349884, 91);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0076162", "Hausu", 1977, Null, 209765, 88);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0130018", "I Still Know What You Did Last Summer", 1998, 65000000, 40002112, 100);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0900357", "Boogeyman 2", 2007, 4500000, 1798418, 93);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0451957", "Urban Legends: Bloody Mary", 2005, 3500000, Null, 93);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0069995", "Don't Look Now", 1973, 1500000, 108000, 110);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0068503", "Dr. Phibes Rises Again", 1972, Null, Null, 89);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0454841", "The Hills Have Eyes", 2006, 15000000, 70009308, 107);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0059646", "Repulsion", 1965, 300000, 33174, 105);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0045888", "House of Wax", 1953, 1000000, 23750000, 88);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0057449", "The Raven", 1963, 200000, Null, 86);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0052602", "The Bat", 1959, Null, Null, 80);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0309593", "Final Destination 2", 2003, 26000000, 90941129, 90);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0055304", "Pit and the Pendulum", 1961, 200000, Null, 80);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0076786", "Suspiria", 1977, Null, 21760, 99);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0026685", "Mark of the Vampire", 1935, 305177, Null, 60);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0058403", "The Night Walker", 1964, Null, Null, 86);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0057608", "Twice-Told Tales", 1963, Null, Null, 120);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0077745", "Invasion of the Body Snatchers", 1978, 3500000, 24946533, 115);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0083722", "Cat People", 1982, 18000000, 7000000, 118);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0051744", "House on Haunted Hill", 1959, 200000, Null, 75);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0295700", "Wrong Turn", 2003, 12600000, 28650575, 84);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0026912", "The Raven", 1935, 115000, Null, 61);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0056725", "Zotz!", 1962, Null, Null, 87);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0056993", "Diary of a Madman", 1963, 350000, Null, 96);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0053219", "Return of the Fly", 1959, 225000, Null, 80);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0057128", "The Haunted Palace", 1963, Null, Null, 87);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0263488", "Jeepers Creepers", 2001, 10000000, 59371303, 90);
INSERT INTO Movie (movie_id, movie_title, movie_year, movie_budget, movie_boxoffice, movie_runtime) VALUES ("tt0026663", "Mad Love", 1935, 257502, Null, 68);

INSERT INTO Person (person_name, person_id) VALUES (0, "R. Wright Campbell");
INSERT INTO Person (person_name, person_id) VALUES (1, "Charles Beaumont");
INSERT INTO Person (person_name, person_id) VALUES (2, "Roger Corman");
INSERT INTO Person (person_name, person_id) VALUES (3, "Silvio Horta");
INSERT INTO Person (person_name, person_id) VALUES (4, "Jamie Blanks");
INSERT INTO Person (person_name, person_id) VALUES (5, "David Seltzer");
INSERT INTO Person (person_name, person_id) VALUES (6, "Richard Donner");
INSERT INTO Person (person_name, person_id) VALUES (7, "Carl Erickson");
INSERT INTO Person (person_name, person_id) VALUES (8, "Don Mullaly");
INSERT INTO Person (person_name, person_id) VALUES (9, "Michael Curtiz");
INSERT INTO Person (person_name, person_id) VALUES (10, "James Wong");
INSERT INTO Person (person_name, person_id) VALUES (11, "Glen Morgan");
INSERT INTO Person (person_name, person_id) VALUES (12, "Chad Hayes");
INSERT INTO Person (person_name, person_id) VALUES (13, "Charles Belden");
INSERT INTO Person (person_name, person_id) VALUES (14, "Jaume Collet-Serra");
INSERT INTO Person (person_name, person_id) VALUES (15, "Jean Redon");
INSERT INTO Person (person_name, person_id) VALUES (16, "Pierre Boileau");
INSERT INTO Person (person_name, person_id) VALUES (17, "Georges Franju");
INSERT INTO Person (person_name, person_id) VALUES (18, "Robb White");
INSERT INTO Person (person_name, person_id) VALUES (19, "William Massa");
INSERT INTO Person (person_name, person_id) VALUES (20, "Vctor Garca");
INSERT INTO Person (person_name, person_id) VALUES (21, "Robert Bloch");
INSERT INTO Person (person_name, person_id) VALUES (22, "William Castle");
INSERT INTO Person (person_name, person_id) VALUES (23, "Jim Wheat");
INSERT INTO Person (person_name, person_id) VALUES (24, "Mick Garris");
INSERT INTO Person (person_name, person_id) VALUES (25, "Chris Walas");
INSERT INTO Person (person_name, person_id) VALUES (26, "Peter Myers");
INSERT INTO Person (person_name, person_id) VALUES (27, "Jimmy Sangster");
INSERT INTO Person (person_name, person_id) VALUES (28, "Guy Green");
INSERT INTO Person (person_name, person_id) VALUES (29, "Richard Matheson");
INSERT INTO Person (person_name, person_id) VALUES (30, "Edgar Allan Poe");
INSERT INTO Person (person_name, person_id) VALUES (31, "Kay Linaker");
INSERT INTO Person (person_name, person_id) VALUES (32, "Theodore Simonson");
INSERT INTO Person (person_name, person_id) VALUES (33, "Irvin S. Yeaworth Jr.");
INSERT INTO Person (person_name, person_id) VALUES (34, "Russell S. Doughten Jr.");
INSERT INTO Person (person_name, person_id) VALUES (35, "Jerome Weidman");
INSERT INTO Person (person_name, person_id) VALUES (36, "Harold Medford");
INSERT INTO Person (person_name, person_id) VALUES (37, "Vincent Sherman");
INSERT INTO Person (person_name, person_id) VALUES (38, "Kevin Williamson");
INSERT INTO Person (person_name, person_id) VALUES (39, "Lois Duncan");
INSERT INTO Person (person_name, person_id) VALUES (40, "Jim Gillespie");
INSERT INTO Person (person_name, person_id) VALUES (41, "Jacques Tourneur");
INSERT INTO Person (person_name, person_id) VALUES (42, "Ursula Curtiss");
INSERT INTO Person (person_name, person_id) VALUES (43, "William P. McGivern");
INSERT INTO Person (person_name, person_id) VALUES (44, "Ardel Wray");
INSERT INTO Person (person_name, person_id) VALUES (45, "Edward Dein");
INSERT INTO Person (person_name, person_id) VALUES (46, "David Self");
INSERT INTO Person (person_name, person_id) VALUES (47, "Shirley Jackson");
INSERT INTO Person (person_name, person_id) VALUES (48, "Jan de Bont");
INSERT INTO Person (person_name, person_id) VALUES (49, "Paul Harris Boardman");
INSERT INTO Person (person_name, person_id) VALUES (50, "John Ottman");
INSERT INTO Person (person_name, person_id) VALUES (51, "DeWitt Bodeen");
INSERT INTO Person (person_name, person_id) VALUES (52, "Adam Grossman");
INSERT INTO Person (person_name, person_id) VALUES (53, "John Clifford");
INSERT INTO Person (person_name, person_id) VALUES (54, "Leigh Whannell");
INSERT INTO Person (person_name, person_id) VALUES (55, "James Wan");
INSERT INTO Person (person_name, person_id) VALUES (56, "Robert Towne");
INSERT INTO Person (person_name, person_id) VALUES (57, "Bryan Bertino");
INSERT INTO Person (person_name, person_id) VALUES (58, "Dick Beebe");
INSERT INTO Person (person_name, person_id) VALUES (59, "William Malone");
INSERT INTO Person (person_name, person_id) VALUES (60, "F. Amos Powell");
INSERT INTO Person (person_name, person_id) VALUES (61, "Leo Gordon");
INSERT INTO Person (person_name, person_id) VALUES (62, "Anthony Shaffer");
INSERT INTO Person (person_name, person_id) VALUES (63, "Robin Hardy");
INSERT INTO Person (person_name, person_id) VALUES (64, "James Clavell");
INSERT INTO Person (person_name, person_id) VALUES (65, "George Langelaan");
INSERT INTO Person (person_name, person_id) VALUES (66, "Kurt Neumann");
INSERT INTO Person (person_name, person_id) VALUES (67, "James Gunn");
INSERT INTO Person (person_name, person_id) VALUES (68, "Anne Froelich");
INSERT INTO Person (person_name, person_id) VALUES (69, "Charles O'Neal");
INSERT INTO Person (person_name, person_id) VALUES (70, "Mark Robson");
INSERT INTO Person (person_name, person_id) VALUES (71, "Wes Craven");
INSERT INTO Person (person_name, person_id) VALUES (72, "Peter Milne");
INSERT INTO Person (person_name, person_id) VALUES (73, "Ewart Adamson");
INSERT INTO Person (person_name, person_id) VALUES (74, "Alexandre Aja");
INSERT INTO Person (person_name, person_id) VALUES (75, "Grgory Levasseur");
INSERT INTO Person (person_name, person_id) VALUES (76, "Philip Wylie");
INSERT INTO Person (person_name, person_id) VALUES (77, "Waldemar Young");
INSERT INTO Person (person_name, person_id) VALUES (78, "Erle C. Kenton");
INSERT INTO Person (person_name, person_id) VALUES (79, "William Gray");
INSERT INTO Person (person_name, person_id) VALUES (80, "Russell Hunter");
INSERT INTO Person (person_name, person_id) VALUES (81, "Peter Medak");
INSERT INTO Person (person_name, person_id) VALUES (82, "Richard Alan Simmons");
INSERT INTO Person (person_name, person_id) VALUES (83, "Robert Gist");
INSERT INTO Person (person_name, person_id) VALUES (84, "William F. Leicester");
INSERT INTO Person (person_name, person_id) VALUES (85, "Ubaldo Ragona");
INSERT INTO Person (person_name, person_id) VALUES (86, "Sidney Salkow");
INSERT INTO Person (person_name, person_id) VALUES (87, "Nelson Gidding");
INSERT INTO Person (person_name, person_id) VALUES (88, "Robert Wise");